@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  background: #333333;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

.bgspacer {
  height: 20%; }

.hidden {
  display: none !important; }

.nonconsecutive {
  margin: 15px 3px 0;
  float: left;
  font-size: 14px; }

.key {
  margin: 3px;
  border-width: 2px 5px 7px;
  border-style: solid;
  border-radius: 6px;
  float: left;
  font-size: 14px;
  transition: ease-out 50ms;
  color: #3b3932; }

.key:hover {
  margin: 3px;
  margin-top: 8px;
  border-width: 1px 5px 3px;
  border-style: solid;
  border-radius: 6px;
  float: left; }

.key {
  background: #D3D2CC;
  border-color: #D3D2CC #cccbc4 #bebcb3; }

.keycap {
  min-width: 20px;
  height: 30px;
  padding: 5px 7px 0 7px;
  background: -webkit-linear-gradient(left, #D3D2CC, #e4e3df, #D3D2CC);
  background: -moz-linear-gradient(left, #D3D2CC, #e4e3df, #D3D2CC);
  background: -ms-linear-gradient(left, #D3D2CC, #e4e3df, #D3D2CC);
  background: -o-linear-gradient(left, #D3D2CC, #e4e3df, #D3D2CC);
  background: linear-gradient(left, #D3D2CC, #e4e3df, #D3D2CC);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: relative; }

.key_fn {
  background: #a6a498;
  border-color: #a6a498 #9f9d90 #918e7f; }

.keycap_fn {
  min-width: 45px;
  background: -webkit-linear-gradient(left, #a6a498, #b9b7ae, #a6a498);
  background: -moz-linear-gradient(left, #a6a498, #b9b7ae, #a6a498);
  background: -ms-linear-gradient(left, #a6a498, #b9b7ae, #a6a498);
  background: -o-linear-gradient(left, #a6a498, #b9b7ae, #a6a498);
  background: linear-gradient(left, #a6a498, #b9b7ae, #a6a498); }

.kb_desc {
  font-style: italic; }

#keybindlist {
  top: 20%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

table, th, td {
  border: none; }

table {
  width: 100%;
  display: table; }
  table.bordered > thead > tr,
  table.bordered > tbody > tr {
    border-bottom: 1px solid #1a1a1a; }
  table.striped > tbody > tr:nth-child(odd) {
    background-color: #2e2e2e; }
  table.striped > tbody > tr > td {
    border-radius: 0; }
  table.highlight > tbody > tr {
    transition: background-color .25s ease; }
    table.highlight > tbody > tr:hover {
      background-color: #2e2e2e; }
  table.centered thead tr th, table.centered tbody tr td {
    text-align: center; }

thead {
  border-bottom: 1px solid #1a1a1a; }

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px; }

@media only screen and (max-width: 992px) {
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */ }
    table.responsive-table td:empty:before {
      content: '\00a0'; }
    table.responsive-table th,
    table.responsive-table td {
      margin: 0;
      vertical-align: top; }
    table.responsive-table th {
      text-align: left; }
    table.responsive-table thead {
      display: block;
      float: left; }
      table.responsive-table thead tr {
        display: block;
        padding: 0 10px 0 0; }
        table.responsive-table thead tr th::before {
          content: "\00a0"; }
    table.responsive-table tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap; }
      table.responsive-table tbody tr {
        display: inline-block;
        vertical-align: top; }
    table.responsive-table th {
      display: block;
      text-align: right; }
    table.responsive-table td {
      display: block;
      min-height: 1.25em;
      text-align: left; }
    table.responsive-table tr {
      padding: 0 10px; }
    table.responsive-table thead {
      border: 0;
      border-right: 1px solid #1a1a1a; }
    table.responsive-table.bordered th {
      border-bottom: 0;
      border-left: 0; }
    table.responsive-table.bordered td {
      border-left: 0;
      border-right: 0;
      border-bottom: 0; }
    table.responsive-table.bordered tr {
      border: 0; }
    table.responsive-table.bordered tbody tr {
      border-right: 1px solid #1a1a1a; } }

.autocomplete-suggestion {
  height: 60px;
  width: 600px;
  min-width: 0;
  box-sizing: border-box;
  font-size: 16px;
  border: 0;
  background: none;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.15s, 0.3s;
  box-shadow: 0 0 0 1px currentColor;
  color: inherit;
  cursor: pointer;
  margin-top: 1px;
  padding: 21.5px;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  transition-delay: 0.3s, 0s, 0.3s;
  outline: 0;
  border-radius: 0; }

.inputbox {
  height: 60px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.15s, 0.3s; }
  .inputbox input {
    min-width: 0;
    box-sizing: border-box;
    font-size: 16px;
    padding: 21.5px 0;
    border: 0;
    background: none;
    width: 60px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    transition-delay: 0s, 0.3s, 0s;
    box-shadow: 0 0 0 1px currentColor;
    color: inherit;
    cursor: pointer;
    padding-right: 60px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.15s, 0.3s; }
    .inputbox input:focus, .inputbox input:valid {
      width: 100%;
      transition-delay: 0.3s, 0s, 0.3s;
      outline: 0;
      border-radius: 0;
      cursor: text;
      padding-left: 21.5px; }
      .inputbox input:focus + .del, .inputbox input:valid + .del {
        pointer-events: all;
        left: calc(100% - 30px);
        transition-delay: 0.3s; }
        .inputbox input:focus + .del:focus, .inputbox input:valid + .del:focus {
          box-shadow: 0 0 0 1px currentColor;
          height: 45px;
          width: 45px; }
        .inputbox input:focus + .del:before, .inputbox input:valid + .del:before {
          transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
          transition-delay: 0s; }
        .inputbox input:focus + .del:after, .inputbox input:valid + .del:after {
          transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
          transition-delay: 0.15s; }
  .inputbox .del {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    padding: 0;
    background: none;
    border-radius: 100%;
    border: 0;
    pointer-events: none;
    transition: left 0.3s ease-in-out;
    transition-delay: 0s;
    color: inherit;
    cursor: pointer; }
    .inputbox .del:focus {
      outline: none; }
    .inputbox .del:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background: currentColor;
      width: 1px;
      height: 45px;
      transform: translate(38.5px, 38.5px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
      transition: transform 0.15s ease-in-out;
      transition-delay: 0.45s; }
    .inputbox .del:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background: currentColor;
      width: 1px;
      height: 45px;
      transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
      transition: transform 0.15s ease-in-out;
      transition-delay: 0.3s; }

.container {
  margin: 0 auto;
  max-width: 1800px;
  width: 98%; }

@media only screen and (min-width: 601px) {
  .container {
    width: 95%; } }

@media only screen and (min-width: 993px) {
  .container {
    width: 90%; } }

.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem; }

.section {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .section.no-pad {
    padding: 0; }
  .section.no-pad-bot {
    padding-bottom: 0; }
  .section.no-pad-top {
    padding-top: 0; }

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px; }
    .row .col[class*="push-"], .row .col[class*="pull-"] {
      position: relative; }
    .row .col.s1 {
      width: 8.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s2 {
      width: 16.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s3 {
      width: 25%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s4 {
      width: 33.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s5 {
      width: 41.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s6 {
      width: 50%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s7 {
      width: 58.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s8 {
      width: 66.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s9 {
      width: 75%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s10 {
      width: 83.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s11 {
      width: 91.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s12 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.offset-s1 {
      margin-left: 8.33333%; }
    .row .col.pull-s1 {
      right: 8.33333%; }
    .row .col.push-s1 {
      left: 8.33333%; }
    .row .col.offset-s2 {
      margin-left: 16.66667%; }
    .row .col.pull-s2 {
      right: 16.66667%; }
    .row .col.push-s2 {
      left: 16.66667%; }
    .row .col.offset-s3 {
      margin-left: 25%; }
    .row .col.pull-s3 {
      right: 25%; }
    .row .col.push-s3 {
      left: 25%; }
    .row .col.offset-s4 {
      margin-left: 33.33333%; }
    .row .col.pull-s4 {
      right: 33.33333%; }
    .row .col.push-s4 {
      left: 33.33333%; }
    .row .col.offset-s5 {
      margin-left: 41.66667%; }
    .row .col.pull-s5 {
      right: 41.66667%; }
    .row .col.push-s5 {
      left: 41.66667%; }
    .row .col.offset-s6 {
      margin-left: 50%; }
    .row .col.pull-s6 {
      right: 50%; }
    .row .col.push-s6 {
      left: 50%; }
    .row .col.offset-s7 {
      margin-left: 58.33333%; }
    .row .col.pull-s7 {
      right: 58.33333%; }
    .row .col.push-s7 {
      left: 58.33333%; }
    .row .col.offset-s8 {
      margin-left: 66.66667%; }
    .row .col.pull-s8 {
      right: 66.66667%; }
    .row .col.push-s8 {
      left: 66.66667%; }
    .row .col.offset-s9 {
      margin-left: 75%; }
    .row .col.pull-s9 {
      right: 75%; }
    .row .col.push-s9 {
      left: 75%; }
    .row .col.offset-s10 {
      margin-left: 83.33333%; }
    .row .col.pull-s10 {
      right: 83.33333%; }
    .row .col.push-s10 {
      left: 83.33333%; }
    .row .col.offset-s11 {
      margin-left: 91.66667%; }
    .row .col.pull-s11 {
      right: 91.66667%; }
    .row .col.push-s11 {
      left: 91.66667%; }
    .row .col.offset-s12 {
      margin-left: 100%; }
    .row .col.pull-s12 {
      right: 100%; }
    .row .col.push-s12 {
      left: 100%; }
    @media only screen and (min-width: 601px) {
      .row .col.m1 {
        width: 8.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m2 {
        width: 16.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m4 {
        width: 33.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m5 {
        width: 41.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m7 {
        width: 58.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m8 {
        width: 66.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m10 {
        width: 83.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m11 {
        width: 91.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.offset-m1 {
        margin-left: 8.33333%; }
      .row .col.pull-m1 {
        right: 8.33333%; }
      .row .col.push-m1 {
        left: 8.33333%; }
      .row .col.offset-m2 {
        margin-left: 16.66667%; }
      .row .col.pull-m2 {
        right: 16.66667%; }
      .row .col.push-m2 {
        left: 16.66667%; }
      .row .col.offset-m3 {
        margin-left: 25%; }
      .row .col.pull-m3 {
        right: 25%; }
      .row .col.push-m3 {
        left: 25%; }
      .row .col.offset-m4 {
        margin-left: 33.33333%; }
      .row .col.pull-m4 {
        right: 33.33333%; }
      .row .col.push-m4 {
        left: 33.33333%; }
      .row .col.offset-m5 {
        margin-left: 41.66667%; }
      .row .col.pull-m5 {
        right: 41.66667%; }
      .row .col.push-m5 {
        left: 41.66667%; }
      .row .col.offset-m6 {
        margin-left: 50%; }
      .row .col.pull-m6 {
        right: 50%; }
      .row .col.push-m6 {
        left: 50%; }
      .row .col.offset-m7 {
        margin-left: 58.33333%; }
      .row .col.pull-m7 {
        right: 58.33333%; }
      .row .col.push-m7 {
        left: 58.33333%; }
      .row .col.offset-m8 {
        margin-left: 66.66667%; }
      .row .col.pull-m8 {
        right: 66.66667%; }
      .row .col.push-m8 {
        left: 66.66667%; }
      .row .col.offset-m9 {
        margin-left: 75%; }
      .row .col.pull-m9 {
        right: 75%; }
      .row .col.push-m9 {
        left: 75%; }
      .row .col.offset-m10 {
        margin-left: 83.33333%; }
      .row .col.pull-m10 {
        right: 83.33333%; }
      .row .col.push-m10 {
        left: 83.33333%; }
      .row .col.offset-m11 {
        margin-left: 91.66667%; }
      .row .col.pull-m11 {
        right: 91.66667%; }
      .row .col.push-m11 {
        left: 91.66667%; }
      .row .col.offset-m12 {
        margin-left: 100%; }
      .row .col.pull-m12 {
        right: 100%; }
      .row .col.push-m12 {
        left: 100%; } }
    @media only screen and (min-width: 993px) {
      .row .col.l1 {
        width: 8.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l2 {
        width: 16.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l4 {
        width: 33.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l5 {
        width: 41.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l7 {
        width: 58.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l8 {
        width: 66.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l10 {
        width: 83.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l11 {
        width: 91.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.offset-l1 {
        margin-left: 8.33333%; }
      .row .col.pull-l1 {
        right: 8.33333%; }
      .row .col.push-l1 {
        left: 8.33333%; }
      .row .col.offset-l2 {
        margin-left: 16.66667%; }
      .row .col.pull-l2 {
        right: 16.66667%; }
      .row .col.push-l2 {
        left: 16.66667%; }
      .row .col.offset-l3 {
        margin-left: 25%; }
      .row .col.pull-l3 {
        right: 25%; }
      .row .col.push-l3 {
        left: 25%; }
      .row .col.offset-l4 {
        margin-left: 33.33333%; }
      .row .col.pull-l4 {
        right: 33.33333%; }
      .row .col.push-l4 {
        left: 33.33333%; }
      .row .col.offset-l5 {
        margin-left: 41.66667%; }
      .row .col.pull-l5 {
        right: 41.66667%; }
      .row .col.push-l5 {
        left: 41.66667%; }
      .row .col.offset-l6 {
        margin-left: 50%; }
      .row .col.pull-l6 {
        right: 50%; }
      .row .col.push-l6 {
        left: 50%; }
      .row .col.offset-l7 {
        margin-left: 58.33333%; }
      .row .col.pull-l7 {
        right: 58.33333%; }
      .row .col.push-l7 {
        left: 58.33333%; }
      .row .col.offset-l8 {
        margin-left: 66.66667%; }
      .row .col.pull-l8 {
        right: 66.66667%; }
      .row .col.push-l8 {
        left: 66.66667%; }
      .row .col.offset-l9 {
        margin-left: 75%; }
      .row .col.pull-l9 {
        right: 75%; }
      .row .col.push-l9 {
        left: 75%; }
      .row .col.offset-l10 {
        margin-left: 83.33333%; }
      .row .col.pull-l10 {
        right: 83.33333%; }
      .row .col.push-l10 {
        left: 83.33333%; }
      .row .col.offset-l11 {
        margin-left: 91.66667%; }
      .row .col.pull-l11 {
        right: 91.66667%; }
      .row .col.push-l11 {
        left: 91.66667%; }
      .row .col.offset-l12 {
        margin-left: 100%; }
      .row .col.pull-l12 {
        right: 100%; }
      .row .col.push-l12 {
        left: 100%; } }
