.key
{
  margin: 3px;
  border-width: 2px 5px 7px;
  border-style: solid;
  border-radius: 6px;
  float: left;
  font-size: 14px;
  transition: ease-out 50ms;
  color: $keybindCapTextColor;
}

.key:hover
{
  margin: 3px;
  margin-top: 8px;
  border-width: 1px 5px 3px;
  border-style: solid;
  border-radius: 6px;
  float: left;
}

.key {
  background: $keybindBaseColor;
  border-color: $keybindBaseColor darken($keybindBaseColor, 3) darken($keybindBaseColor, 9);
}

.keycap {
  min-width: 20px;
  height: 30px;
  padding: 5px 7px 0 7px;
  background: -webkit-linear-gradient(left, $keybindBaseColor, $keybindConcaveColor, $keybindBaseColor);
  background: -moz-linear-gradient(left, $keybindBaseColor, $keybindConcaveColor, $keybindBaseColor);
  background: -ms-linear-gradient(left, $keybindBaseColor, $keybindConcaveColor, $keybindBaseColor);
  background: -o-linear-gradient(left, $keybindBaseColor, $keybindConcaveColor, $keybindBaseColor);
  background: linear-gradient(left, $keybindBaseColor, $keybindConcaveColor, $keybindBaseColor);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: relative;
}

.key_fn {
  background: $keybindSpecialBaseColor;
  border-color: $keybindSpecialBaseColor darken($keybindSpecialBaseColor, 3) darken($keybindSpecialBaseColor, 9);
}

.keycap_fn {
  min-width: 45px;

  background: -webkit-linear-gradient(left, $keybindSpecialBaseColor, $keybindSpecialConcaveColor, $keybindSpecialBaseColor);
  background: -moz-linear-gradient(left, $keybindSpecialBaseColor, $keybindSpecialConcaveColor, $keybindSpecialBaseColor);
  background: -ms-linear-gradient(left, $keybindSpecialBaseColor, $keybindSpecialConcaveColor, $keybindSpecialBaseColor);
  background: -o-linear-gradient(left, $keybindSpecialBaseColor, $keybindSpecialConcaveColor, $keybindSpecialBaseColor);
  background: linear-gradient(left, $keybindSpecialBaseColor, $keybindSpecialConcaveColor, $keybindSpecialBaseColor);
}
