.autocomplete-suggestion {
  height: $searchBarHeight;
  width: $searchBarWidth;
  min-width: 0;
  box-sizing: border-box;
  font-size: 16px;
  background: none;
  transition: width $searchBarTransitionSpeed ease-in-out, border-radius $searchBarTransitionSpeed ease-in-out, padding $searchBarTransitionSpeed/2, $searchBarTransitionSpeed;
  border: $searchBarStrokeThickness solid currentColor;
  color: inherit;
  cursor: pointer;
  margin-top: 1.5px;
  padding: ($searchBarHeight - 16 - 1)/2;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  transition-delay: $searchBarTransitionSpeed, 0s, $searchBarTransitionSpeed;
  outline: 0;
  border-radius: 0;
}

.inputbox {
  height: $searchBarHeight;
  width: $searchBarWidth;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width $searchBarTransitionSpeed ease-in-out, border-radius $searchBarTransitionSpeed ease-in-out, padding $searchBarTransitionSpeed/2, $searchBarTransitionSpeed;

  input {
	min-width: 0;
	box-sizing: border-box;
	font-size: 16px;
	padding: ($searchBarHeight - 16 - 1)/2 0;
	background: none;
	width: $searchBarHeight;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 100%;
	transition-delay: 0s, $searchBarTransitionSpeed, 0s;
	border: $searchBarStrokeThickness solid currentColor;
	color: inherit;
	cursor: pointer;
	padding-right: $searchBarHeight;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
	transition: width $searchBarTransitionSpeed ease-in-out, border-radius $searchBarTransitionSpeed ease-in-out, padding $searchBarTransitionSpeed/2, $searchBarTransitionSpeed;

	&:focus, &:valid {
	  width: 100%;
	  transition-delay: $searchBarTransitionSpeed, 0s, $searchBarTransitionSpeed;
	  outline: 0;
	  border-radius: 0;
	  cursor: text;
	  padding-left: ($searchBarHeight - 16 - 1)/2;


	  +.del {
		pointer-events: all;
		left: calc(100% - #{$searchBarHeight/2});
		transition-delay: $searchBarTransitionSpeed;

		&:focus {
		  box-shadow: 0 0 0 1px currentColor;
		  height: $searchBarHeight/4*3;
		  width: $searchBarHeight/4*3;
		}
		&:before {
		  transform: translate(-50%,-50%) rotate(-45deg) scaleY(0.7);
		  transition-delay: 0s;

		}
		&:after {
		  transform: translate(-50%,-50%) rotate(45deg) scaleY(0.7);
		  transition-delay: $searchBarTransitionSpeed/2;

		}
	  }
	}
  }

  .del {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: $searchBarHeight;
	width: $searchBarHeight;
	padding: 0;
	background: none;
	border-radius: 100%;
	border: 0;
	pointer-events: none;
	transition: left $searchBarTransitionSpeed ease-in-out;
	transition-delay: 0s;
	color: inherit;
	cursor: pointer;

	&:focus {
	  outline: none;
	}

	&:before {
	  content: '';
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  background:  currentColor;
	  width: $searchBarStrokeThickness;
	  height: $searchBarHeight/4*3;
	  transform: translate($searchBarHeight/8*5 + 1, $searchBarHeight/8*5 + 1) translate(-50%, -50%) rotate(-45deg) scaleY(1);
	  transition: transform $searchBarTransitionSpeed/2 ease-in-out;
	  transition-delay: $searchBarTransitionSpeed*1.5;
	}
	&:after {
	  content: '';
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  background:  currentColor;
	  width: $searchBarStrokeThickness;
	  height: $searchBarHeight/4*3;
	  transform: translate(-50%,-50%) rotate(45deg) scaleY(0);
	  transition: transform $searchBarTransitionSpeed/2 ease-in-out;
	  transition-delay: $searchBarTransitionSpeed;
	}
  }

}
