.autocomplete-suggestion {
  height: $searchHeight;
  width: $searchWidth;
  min-width: 0;
  box-sizing: border-box;
  font-size: 16px;
  border: 0;
  background: none;
  transition: width $searchTransitionDuration ease-in-out, border-radius $searchTransitionDuration ease-in-out, padding $searchTransitionDuration/2, $searchTransitionDuration;
  box-shadow: 0 0 0 $searchStrokeWidth currentColor;
  color: inherit;
  cursor: pointer;
  margin-top: 1.5px;
  padding: ($searchHeight - 16 - 1)/2;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  transition-delay: $searchTransitionDuration, 0s, $searchTransitionDuration;
  outline: 0;
  border-radius: 0;
}

.inputbox {
  height: $searchHeight;
  width: $searchWidth;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width $searchTransitionDuration ease-in-out, border-radius $searchTransitionDuration ease-in-out, padding $searchTransitionDuration/2, $searchTransitionDuration;

  input {
	min-width: 0;
	box-sizing: border-box;
	font-size: 16px;
    padding: ($searchHeight - 16 - 1)/2 0;
    border: 0;
	background: none;
    width: $searchHeight;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 100%;
    transition-delay: 0s, $searchTransitionDuration, 0s;
    box-shadow: 0 0 0 $searchStrokeWidth currentColor;
	color: inherit;
	cursor: pointer;
    padding-right: $searchHeight;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
    transition: width $searchTransitionDuration ease-in-out, border-radius $searchTransitionDuration ease-in-out, padding $searchTransitionDuration/2, $searchTransitionDuration;

	&:focus, &:valid {
	  width: 100%;
      transition-delay: $searchTransitionDuration, 0s, $searchTransitionDuration;
	  outline: 0;
	  border-radius: 0;
	  cursor: text;
      padding-left: ($searchHeight - 16 - 1)/2;


	  +.del {
		pointer-events: all;
        left: calc(100% - #{$searchHeight/2});
        transition-delay: $searchTransitionDuration;

		&:focus {
		  box-shadow: 0 0 0 1px currentColor;
          height: $searchHeight/4*3;
          width: $searchHeight/4*3;
		}
		&:before {
		  transform: translate(-50%,-50%) rotate(-45deg) scaleY(0.7);
		  transition-delay: 0s;

		}
		&:after {
		  transform: translate(-50%,-50%) rotate(45deg) scaleY(0.7);
          transition-delay: $searchTransitionDuration/2;

		}
	  }
	}
  }

  .del {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    height: $searchHeight;
    width: $searchHeight;
	padding: 0;
	background: none;
	border-radius: 100%;
	border: 0;
	pointer-events: none;
    transition: left $searchTransitionDuration ease-in-out;
	transition-delay: 0s;
	color: inherit;
	cursor: pointer;

	&:focus {
	  outline: none;
	}

	&:before {
	  content: '';
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  background:  currentColor;
      width: $searchStrokeWidth;
      height: $searchHeight/4*3;
      transform: translate($searchHeight/8*5 + 1, $searchHeight/8*5 + 1) translate(-50%, -50%) rotate(-45deg) scaleY(1);
      transition: transform $searchTransitionDuration/2 ease-in-out;
      transition-delay: $searchTransitionDuration*1.5;
	}
	&:after {
	  content: '';
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  background:  currentColor;
      width: $searchStrokeWidth;
      height: $searchHeight/4*3;
	  transform: translate(-50%,-50%) rotate(45deg) scaleY(0);
      transition: transform $searchTransitionDuration/2 ease-in-out;
      transition-delay: $searchTransitionDuration;
	}
  }

}
