@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

$table-border-color: #191919;
$table-striped-color: #efefd6;

@import "components/util";
@import "components/keybind";
@import "components/table";
@import "components/search";

body {
  background: #ffffe6;
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 5%;
}
