@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

$webpageBackgroundColor: #00D7FF;
$webpageFontColor: #FFFFFF;

$table-border-color: #191919;
$table-striped-color: darken($webpageBackgroundColor, 5);

$searchBarHeight: 50px;
$searchBarWidth: 600px;
$searchBarStrokeThickness: 2px;
$searchBarTransitionSpeed: 0.3s;

@import "components/util";
@import "components/keybind";
@import "components/table";
@import "components/search";

body {
  background: $webpageBackgroundColor;
  color: $webpageFontColor;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 5%;
}
